h1 {
	font-family: Georgia;
	letter-spacing: 0.03em;
	word-spacing: 0.03em;
}
table, th, td {
	border: 5px solid black;
	border-collapse: collapse;
	padding: 2px;
	font-size: 10pt;
}
td {
	text-align: center;
	}
.stats {
	text-align: justify
}
