h1 {
	font-family: Georgia;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
	font-size: 10pt;
}
td {
	text-align: center;
	}
.stats {
	text-align: justify
	max-width: 300px
	background-color: red;
}
