* {
	font-family: Georgia;
}
h1 {
	text-align: center;
	word-spacing: 0.03em;
	letter-spacing: 0.03em;
	background-color: #f18973;
	color: #fefbd8;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
	font-size: 10pt;
}
th {
	background-color: #deeaee;
	color: #bc5a45;
}
td {
	text-align: center;
	background-color: #618685;
	color: #50394c;
	}
.stats {
	text-align: justify;
	max-width: 300px;
	background-color: #92a8d1;
	color: #d5f4e6;
}
