body {
	background-color: black;
	color: white;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
	font-size: 10pt;
}
th {
	background-color: red;
	color: white;
}
td {
	text-align: center;
	}
.stats {
	text-align: justify;
	max-width: 150px;
}
